.contactPage-page {
  margin-top: 5rem;
  overflow: hidden;
}

.main-contactPage {
  display: flex;
  flex-direction: row;
}

.contactPage-image-container {
  max-height: 800px;
  width: 100%;
  overflow: hidden;
  background-color: var(--grey);
}

.contactPage-image-container img {
  width: 100%;
  object-fit: cover;
}

.contactPage-icons-container {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.contactPage-li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  padding-left: 10%;
}

.contactPage-li a {
  font-size: 1.3rem;
  color: var(--white);
  transition: all var(--trans-norm);
}

.contactPage-li a:where(:hover, :focus) {
  color: var(--black);
}

hr {
  width: 80%;
}

hr::after {
  content: '';
  height: 1px;
  display: block;
  margin-left: 5%;
  background: var(--white);
}

.contactPage-final {
  min-height: 75vh;
  padding-block: 3rem;
  background-color: var(--black);
  display: grid;
  grid-template-columns: 50% 50%;
}

.icon-address-div {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.address {
  width: 90%;
  margin: auto;
}

.address-text {
  text-align: center;
  padding-bottom: 5rem;
  font-size: 1.3rem;
  color: var(--white);
}

.address img {
  width: 100%;
  border-radius: 1%;
}

.map iframe {
  padding: 2rem;
  width: 100%;
  height: 100%;
  border-radius: 1%;
}

@media only screen and (max-device-width: 50em) {
  .contactPage-page {
    margin-top: 1rem;
  }

  .main-contactPage {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .contactPage-icons-container {
    padding-block: 3rem;
  }

  .contactPage-li {
    padding-left: 1%;
    justify-content: center;
  }

  .contactPage-li a {
    font-size: 1rem;
  }

  hr::after {
    content: '';
    height: 1px;
    display: block;
    margin-left: 30%;
    background: var(--white);
  }

  .contactPage-icon {
    height: 2rem;
  }

  .contactPage-final {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .address-text {
    font-size: 1rem;
  }

  .map iframe {
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 1%;
  }
}
