main {
  display: flex;
  flex-direction: column;
}

.video-section {
  margin-top: 2.5rem;
  text-align: center;
}

.video {
  max-width: calc(100vw - 100px);
}

.transition-section {
  margin-top: 5rem;
  position: relative;
  height: 150vh;
  background-color: var(--black);
}

.transition-span {
  text-transform: lowercase;
  font-style: italic;
}

.transition-p-left {
  text-transform: uppercase;
  line-height: 85%;
  z-index: 11;
  color: var(--white);
  text-align: center;
  font-size: clamp(2rem, 3vw, 3vw);
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 32%;
  opacity: 0;
  left: 17%;
  animation: moveUp1 1.2s ease-in-out forwards;
}

@keyframes moveUp1 {
  to {
    top: 22%;
    opacity: 1;
  }
}

.transition-p-right {
  text-transform: uppercase;
  z-index: 11;
  color: var(--white);
  text-align: center;
  font-size: clamp(2rem, 3vw, 3vw);
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 58%;
  left: 65%;
  opacity: 0;
  animation: moveUp2 1.7s ease-in-out forwards;
}

@keyframes moveUp2 {
  to {
    top: 48%;
    opacity: 1;
  }
}

.transition-p-bottom {
  text-transform: uppercase;
  z-index: 11;
  color: var(--white);
  text-align: center;
  font-size: clamp(2rem, 3vw, 3vw);
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 85%;
  opacity: 0;
  left: 35%;
  animation: moveUp3 2.4s ease-in-out forwards;
}

@keyframes moveUp3 {
  to {
    top: 75%;
    opacity: 1;
  }
}

.transition-image-left {
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 17%;
  width: calc(100vw - 85%);
  height: 25%;
}

.transition-image-mid {
  position: absolute;
  object-fit: cover;
  opacity: 0.7;
  top: 20%;
  left: 35%;
  width: calc(100vw - 68%);
  height: 50%;
}

.transition-image-right {
  position: absolute;
  object-fit: cover;
  top: 15%;
  left: 70%;
  width: calc(100vw - 85%);
  height: 25%;
}

.categories-section {
  position: relative;
  padding: 5rem;
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1699800918/studiophotocreation/SPC_0895_background_rtk3p9.jpg');
  background-color: var(--black);
  height: 200vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-section {
  display: flex;
  min-height: 75vh;
}

.contact-image-container {
  background-color: var(--grey);
  width: calc(100vw - 50%);
  display: grid;
  place-content: center;
}

.contact-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 100%;
}

.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(100vw - 50%);
}

.contact-h1 {
  font-size: clamp(2rem, 3vw, 3rem);
  color: var(--black);
  font-family: 'Playfair Display', serif;
}

.contact-a {
  margin-top: 2rem;
  color: var(--black);
  background-color: var(--white);
  padding: 8px 16px;
  width: fit-content;
  font-size: 1.5rem;
  border: 2px solid var(--black);
  transition: all var(--trans-norm);
}

.contact-a:where(:hover, :focus) {
  background-color: var(--grey);
  color: var(--white);
  border: 2px solid var(--white);
}

@media only screen and (max-device-width: 50em) {
  .video-section {
    margin-top: 1rem;
  }

  .video {
    max-width: calc(100vw - 50px);
    height: 45vh;
  }

  .categories-section {
    background-image: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    height: fit-content;
  }

  .transition-p-left {
    line-height: 85%;
    text-transform: uppercase;
    z-index: 11;
    color: var(--white);
    text-align: center;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 10%;
    left: 5%;
  }

  .transition-p-right {
    text-transform: uppercase;
    z-index: 11;
    color: var(--white);
    text-align: center;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 35%;
    right: 5%;
    left: auto;
  }

  .transition-p-bottom {
    text-transform: uppercase;
    z-index: 11;
    color: var(--white);
    text-align: center;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 70%;
    left: 28%;
  }

  .transition-image-left {
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 3%;
    width: calc(100vw - 74%);
  }

  .transition-image-mid {
    position: absolute;
    object-fit: fill;
    opacity: 0.7;
    top: 20%;
    left: 30%;
    width: calc(100vw - 60%);
  }

  .transition-image-right {
    position: absolute;
    object-fit: cover;
    top: 10%;
    left: 72%;
    width: calc(100vw - 74%);
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    padding-block: 3rem;
  }

  .contact-image-container {
    padding-top: 1.5rem;
    width: 100%;
    height: 50%;
  }

  .contact-div {
    width: 100%;
  }

  .contact-h1 {
    margin-top: 4rem;
  }

  .contact-a {
    margin-top: 3rem;
  }
}
