.privacy-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 5%;
}

.privacy-section > * {
  margin-block: 0.5rem;
}

.privacy-h1 {
  font-size: 1.7rem;
  color: var(--black);
  font-family: 'Playfair Display', serif;
}

.privacy-h2 {
  font-size: 1.4rem;
  color: var(--black);
  font-family: 'Playfair Display', serif;
}

.privacy-section a {
  color: var(--grey);
  transition: 0.2s;
  text-decoration: underline;
}

.privacy-section a:where(:hover, :focus) {
  color: var(--black);
}
